<div class="container">
    <router-outlet></router-outlet>
    <div class="row hotel">
        <div class="col-md-5">
            <div class="add-hotel-sidebar">
                <div class="hotel-add hotel-add-form">
                    <div class="hotel-add-title">
                        Defined routes
                    </div>
                    <hr />
                    <button [routerLink]="[routes.add.name]"
                            type="button"
                            class="btn btn-success btn-sm">
                        ADD
                    </button>
                    <button type="button"
                            class="btn btn-danger btn-sm"
                            [disabled]="disabledActionButtons()">
                        DEL
                    </button>
                    <button [routerLink]="[routes.edit.name, { id: _checkedItems && _checkedItems[0] }]"
                            type="button"
                            class="btn btn-warning btn-sm"
                            [disabled]="disabledActionButtons()">
                        EDIT
                    </button>
                    <button [routerLink]="['/RouteDetails', { id: _checkedItems && _checkedItems[0] }]"
                            type="button"
                            class="btn btn-info btn-sm"
                            [disabled]="disabledActionButtons()">
                        DETAILS
                    </button>
                    <hr />
                    <div class="list-group">
                        <div *ngFor="#route of _definedRoutes">
                            <a class="list-group-item">
                                <div class="media">

                                    <div class="checkbox pull-left">
                                        <label>
                                            <input type="checkbox" #checkbox (change)="onCheckedChange(route, checkbox.checked)" value="">
                                        </label>
                                    </div>
                                    <div class="pull-left">
                                        <img style="width: 100px; height: 70px" 
                                             *ngIf="route.id === 10" 
                                             class="media-object" 
                                             src="/images/items/fast.jpg">
                                        <img style="width: 100px; height: 70px"
                                             *ngIf="route.id === 11" 
                                             class="media-object" 
                                             src="/images/items/cheap.jpg">
                                        <img style="width: 100px; height: 70px"
                                             *ngIf="route.id === 12" 
                                             class="media-object" 
                                             src="/images/items/complex.jpg">
                                    </div>
                                    <div class="media-body">
                                        <h5 class="media-heading">
                                            <strong>{{route && route.name}}</strong>
                                            <span *ngIf="route.active" class="label label-success pull-right"><i class="fa fa-check fa-fw"></i></span>
                                            <span *ngIf="!route.active" class="label label-danger pull-right"><i class="fa fa-remove fa-fw"></i></span>
                                        </h5>
                                        <p>{{route && route.description}}</p>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-7">
            <div class="hotel-map">
                <div id="map"></div>
            </div>
            <hr>
        </div>
    </div>
</div>