<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" [routerLink]="['/Home']"><i class="fa fa-home fa-fw"></i>&nbsp;KrakmApp</a>
        </div>
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
                <li>
                    <a [routerLink]="[routes.home.name]"><i class="fa fa-line-chart fa-fw"></i>&nbsp;Statistics</a>
                </li>
                <li>
                    <a [routerLink]="['/Clients/Empty']"><i class="fa fa-group fa-fw"></i>&nbsp;Your clients</a>
                </li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-gears fa-fw"></i>&nbsp;Manage<b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li>
                            <a [routerLink]="[routes.hotels.name]"><i class="fa fa-hospital-o fa-fw"></i>&nbsp;Hotels</a>
                        </li>
                        <li>
                            <a [routerLink]="[routes.partners.name]"><i class="fa fa-group fa-fw"></i>&nbsp;Partners</a>
                        </li>
                        <li>
                            <a [routerLink]="[routes.monuments.name]"><i class="fa fa-institution fa-fw"></i>&nbsp;Monuments</a>
                        </li>
                        <li>
                            <a [routerLink]="[routes.entertainments.name]"><i class="fa fa-gamepad fa-fw"></i>&nbsp;Entertainments</a>
                        </li>
                        <li>
                            <a [routerLink]="['/Routes/Empty']"><i class="fa fa-road fa-fw"></i>&nbsp;Routes</a>
                        </li>
                        <li>
                            <a [routerLink]="[routes.banners.name]"><i class="fa fa-meanpath fa-fw"></i>&nbsp;Banners</a>
                        </li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-cubes fa-fw"></i>&nbsp;Define<b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li>
                            <a [routerLink]="[routes.addHotel.name]"><i class="fa fa-hospital-o fa-fw"></i>&nbsp;New hotel</a>
                        </li>
                        <li>
                            <a [routerLink]="[routes.addPartner.name]"><i class="fa fa-group fa-fw"></i>&nbsp;New partner</a>
                        </li>
                        <li>
                            <a [routerLink]="[routes.addMonument.name]"><i class="fa fa-institution fa-fw"></i>&nbsp;New monument</a>
                        </li>
                        <li>
                            <a [routerLink]="[routes.addEntertainment.name]"><i class="fa fa-gamepad fa-fw"></i>&nbsp;New entertainment</a>
                        </li>
                        <li>
                            <a [routerLink]="[routes.addBanner.name]"><i class="fa fa-meanpath fa-fw"></i>&nbsp;New banner</a>
                        </li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-user fa-fw"></i>&nbsp;{{getUserName()}}<b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li *ngIf="!isUserLoggedIn()">
                            <a [routerLink]="['/Account/Login']"><i class="fa fa-unlock-alt fa-fw"></i>&nbsp;Sign in</a>
                        </li>
                        <li *ngIf="isUserLoggedIn()">
                            <a [routerLink]="[routes.home.name]" (click)="logout()"><i class="fa fa-power-off fa-fw"></i>&nbsp;Logout</a>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>

<div>
    <router-outlet></router-outlet>
</div>