<div id="loginModal" class="modal show" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <a [routerLink]="[routes.home.name]" class="close" data-dismiss="modal" aria-hidden="true">×</a>
                <h4 class="text-center">
                    <span class="fa-stack fa-1x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-meanpath fa-stack-1x fa-inverse"></i>
                    </span> Add banner
                </h4>
            </div>
            <div class="modal-body">
                <form class="form col-md-12 center-block" #hf="ngForm">
                    <div class="form-group">
                        <input type="text" 
                               class="form-control" 
                               placeholder="Banner name" 
                               [(ngModel)]="_banner.name"
                               name="name" 
                               ngControl="name" 
                               required #name="ngForm" />
                        <div [hidden]="name.valid || name.untouched" class="alert alert-danger">
                            Name is required
                        </div>
                    </div>

                    <div class="form-group">
                        <input type="datetime-local" 
                               class="form-control" 
                               placeholder="Start promotion"
                               [(ngModel)]="_banner.startPromotion"
                               ngControl="startPromotion" 
                               #startPromotion="ngForm">
                    </div>

                    <div class="form-group">
                        <input type="datetime-local" 
                               class="form-control" 
                               placeholder="End promotion"
                               [(ngModel)]="_banner.endPromotion"
                               ngControl="endPromotion" 
                               #endPromotion="ngForm">
                    </div>

                    <div class="form-group">
                        <input type="text" class="form-control"
                               placeholder="Image url"
                               [(ngModel)]="_banner.imageUrl"
                               ngControl="imageUrl" #imageUrl="ngForm" #spy>
                    </div>

                    <div class="form-group">
                        <textarea ngDefaultControlt rows="7" 
                                  type="text" 
                                  class="form-control"
                                  placeholder="Description"
                                  #ta (blur)="_banner.description=ta.value" 
                                  [value]="_banner.description"
                                  ngControl="description" 
                                  #description="ngForm"></textarea>
                        <div [hidden]="description.valid || description.pristine" class="alert alert-danger">
                            Description has bad chars!
                        </div>
                    </div>
                    
                    <div class="form-group">
                        <button class="btn btn-primary btn-block" (click)="addBanner()" [disabled]="!hf.form.valid">Add banner</button>
                    </div>
                </form>
            </div>
            <div class="modal-footer">

            </div>
        </div>
    </div>
</div>