<div class="container">
    <div class="row hotel">
        <div class="col-md-5">
            <div class="add-hotel-sidebar">
                <div class="hotel-add hotel-add-form">
                    <div class="hotel-add-title">
                        Add new hotel
                    </div>
                    <hr />
                    <form (ngSubmit)="addNewHotel()" #addHotelForm="ngForm">
                        <div class="form-group">
                            <input type="text" class="form-control" 
                                   required 
                                   placeholder="Hotel name, ex. My Hotel"
                                   [(ngModel)]="_newHotel.Name"
                                   ngControl="name" #name="ngForm" #spy>
                            <div [hidden]="name.valid || name.pristine" class="alert alert-danger">
                                Name is required
                            </div>
                        </div>

                        <div class="form-group">
                            <input type="text" disabled class="form-control" placeholder="City: Kraków">
                        </div>

                        <div class="form-group">
                            <input type="text" class="form-control" 
                                   required 
                                   placeholder="Adress, ex. Pawia 6"
                                   [(ngModel)]="_newHotel.Adress"
                                   ngControl="adress" #adress="ngForm">
                            <div [hidden]="adress.valid || adress.pristine" class="alert alert-danger">
                                Adress is required
                            </div>
                        </div>
                        <div class="form-group">
                            <input type="text" class="form-control" 
                                   placeholder="Phone, e.g. 601-123-456"
                                   [(ngModel)]="_newHotel.Phone" 
                                   pattern="[0-9]{3}-[0-9]{3}-[0-9]{3}"
                                   ngControl="phone" #phone="ngForm">
                            <div [hidden]="phone.valid || phone.pristine" class="alert alert-danger">
                                Phone is not valid
                            </div>
                        </div>

                        <div class="form-group">
                            <input type="email" class="form-control" 
                                   placeholder="Email, ex. my@hotel.com"
                                   [(ngModel)]="_newHotel.Email"
                                   ngControl="email" #email="ngForm">
                            <div [hidden]="email.valid || email.pristine" class="alert alert-danger">
                                Email is not valid
                            </div>
                        </div>

                        <div class="add-hotel-checkbox checkbox">
                            <label>
                                <input type="checkbox"> Set as default hotel
                            </label>
                        </div>

                        <div class="add-hotel-checkbox checkbox">
                            <label>
                                <input type="checkbox"> Merge partners from other hotels
                            </label>
                        </div>

                        <div class="hotel-buttons">
                            <button type="submit" class="btn btn-default" [disabled]="!addHotelForm.valid">Add hotel</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="col-md-7">
            <div class="hotel-map">
                <sebm-google-map [latitude]="51.678418" [longitude]="7.809007">
                </sebm-google-map>
            </div>
            <hr>
        </div>
    </div>
</div>