<div class="container">
    <div class="row hotel">
        <div class="col-md-3">
            <div class="hotel-sidebar">
                <div class="hotel-photo">
                    <img src="http://en.hotel-palaciodelmar.com/static/galerias/hotel/01-hotel-santander-sercotel-palacio-del-mar-fachada-foto.jpg" class="img-responsive" alt="">
                </div>
                <div *ngIf="_hotel" class="hotel-info">
                    <div class="hotel-info-name">
                        {{_hotel.Name}}
                    </div>
                    <div class="hotel-info-adress">
                        {{_hotel.Adress}}
                    </div>
                </div>
                <div class="hotel-buttons">
                    <button type="button" class="btn btn-default btn-sm">Edit</button>
                    <button type="button" class="btn btn-danger btn-sm">Remove</button>
                </div>
                <div class="hotel-menu">
                    <ul class="nav">
                        <li class="active">
                            <a href="#">
                                <i class="glyphicon glyphicon-home"></i>
                                Overview
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <i class="glyphicon glyphicon-user"></i>
                                Add partner
                            </a>
                        </li>
                        <li>
                            <a href="#" target="_blank">
                                <i class="glyphicon glyphicon-ok"></i>
                                Add entertainment
                            </a>
                        </li>
                        <li>
                            <a href="#" target="_blank">
                                <i class="glyphicon glyphicon-bullhorn"></i>
                                Add monument
                            </a>
                        </li>
                        <li>
                            <a href="#" target="_blank">
                                <i class="glyphicon glyphicon-circle-arrow-up"></i>
                                Add route
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <i class="glyphicon glyphicon-flag"></i>
                                Help
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-md-9">
            <div class="hotel-map">
                <sebm-google-map [latitude]="50.0647" [longitude]="19.945" [zoom]="17">
                    <sebm-google-map-marker [latitude]="50.0647" [longitude]="19.945" [label]="'M'">
                        <sebm-google-map-info-window [disableAutoPan]="true">
                            Hi, this is the content of the <strong>info window</strong>
                        </sebm-google-map-info-window>
                    </sebm-google-map-marker>
                </sebm-google-map>
            </div>
            <hr>
        </div>
    </div>
    <footer>
        <div class="row footer">
            <div class="col-lg-12">
                <p>Copyright &copy; <a href="http://tsovek.blogspot.com" target="_blank">SowaFactory</a> 2016</p>
            </div>
        </div>
    </footer>
</div>
<br>